<div class="container">
    <h1 class="blog-title">h2</h1>
</div>

<div class="jumbotron">
    <input type="text" value="name" [(ngModel)]="member.name">
    <input type="text" value="age" [(ngModel)]="member.age">
    <button type="button" (click)="saveMember()">Save</button>
    <button type="button" (click)="cancelMember()">Cancel</button>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of memberList">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td><button class="btn btn-danger" role="button" aria-pressed="true" (click)="deleteMember(item.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
