<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Form</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
</div>
<div>
    <p-form #form (valueChange)="valueChange($event)">
        <!--<p-form-item [label]="'Name'" [name]="'name'">-->
        <!--<p-text-input [placeholder]="'naem...'"></p-text-input>-->
        <!--</p-form-item>-->
        <!--<p-text-input [placeholder]="'naem...'" [name]="'name'"></p-text-input>-->
        <!--<div>-->
        <!--<p-text-input [placeholder]="'naem...'" [name]="'name'"></p-text-input>-->
        <!--</div>-->
        <!--<div>-->
        <!--<div>-->
        <!--<h3 class="first">Basic</h3>-->
        <!--<p-text-input id="input" type="text" size="30" [name]="'name'"></p-text-input>-->
        <!--<span id="text">{{text}}</span>-->
        <!--</div>-->
        <!--</div>-->
        pure : <input p-form-base [name]="'name'"/>
        ng : <input [(ngModel)]="modalItem.name"/>
        {{modalItem.name}}
    </p-form>
    <div style="float:right">
        <!--<button [label]="'refresh'" *ngIf="isChanged" [class]="'btn btn-warning'" (click)="isChanged=false"></button>-->
        <button class="btn btn-outline-info" (click)="setData()">set</button>
        <button class="btn btn-outline-info" (click)="reset()">reset</button>
        <button class="btn btn-outline-info" (click)="submit()">submit</button>
    </div>
</div>


