<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Company name</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="background: transparent; border: none; box-shadow: none;">
                {{user?.id}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" style="position: absolute">
                <button class="dropdown-item" type="button">User Info</button>
                <button class="dropdown-item" type="button" (click)="signOut()">Sing Out</button>
            </div>
        </div>
    </ul>
</nav>