<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Play</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
</div>
<div>
    Contents...
    <input [(ngModel)]="sample"/>
    <p-form>
        <p-text-input [(ngModel)]="sample"></p-text-input>
    </p-form>
    <nxc-text-editor [(ngModel)]="sample"></nxc-text-editor>
    model.summary : {{model.summary}}
    sample : {{sample}}

    <!--<nxc-text-editor [tl]=128 [nxcModel]="model.summary"-->
                     <!--(nxcPushEnter)="enterHandler()"-->
                     <!--[placeholder]="'label.setting.distribution_setting_list.distribution_regist.summary' | translate">-->
    <!--</nxc-text-editor>-->
</div>

